
.footer{
    background-color: var(--primary-color);
    display:flex;
    justify-content: space-between;
    color: var(--secondary-color);
    letter-spacing: 2px;
    font-size: 1.1rem;
    padding: 20px 40px;
}

.footer > div.footer-item > div{
    padding: 10px;
}

.footer > div.footer-item > a {
    color: var(--secondary-color);
    letter-spacing: 2px;
    font-size: 1.1rem;
    padding: 10px;
}
.icons-container > a{
    padding-right: 10px;
}
