
.footer{
    background-color: var(--primary-color);
    display:flex;
    justify-content: space-between;
    color: var(--secondary-color);
    letter-spacing: 2px;
    font-size: 1.1rem;
    padding: 10px 30px;
}
.footer > div.footer-item:first-of-type{
    padding-top: 10px;
}
.footer > div.footer-item{
    margin-top: 10px;
}

.footer > div.footer-item > div{
    padding: 0 10px 10px;
    cursor: pointer;
}

.footer > div.footer-item > a, .popover-btn, .footer > div.footer-item > div > a {
    color: var(--secondary-color);
    letter-spacing: 2px;
    font-size: 1.1rem;
    cursor: pointer;
    padding: 10px;
}
.icons-container > a{
    padding-right: 10px;
}

.ant-btn:hover{
    background: none;
    color: black;
}

.popover-btn{
    background:none;
    border: none;
    margin-left: -10px;
    padding-left: 10px;
}
