.add-restaurant-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-restaurant-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-restaurant-header {
    font-size: 30px;
    margin-bottom: 20px;
}

.add-restaurant-fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add-restaurant-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.add-restaurant-field-label {
    font-size: 18px;
    margin-bottom: 5px;
}

.add-restaurant-field-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

select {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;
}

#outlined-multiline-static {
    width: 100%;
    margin-top: 10px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

button[type="submit"]:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
